@page
@model VaccineAppointment.Web.Pages.Admin.Appointments.CreateSlotModel
@{
    ViewData["Title"] = "予約管理";
    var selectedDate = Model.SelectedDate;
}

<h1>予約管理</h1>

<div class="row">
    <partial name="_Navigation" model="@(new NavigationViewModel(selectedDate, "CreateSlot") { BackPage = "Index", DayNavigationDisabled = false })" />
    <div class="col-lg-4">
        <partial name="_Calendar" model="@(new CalendarViewModel(selectedDate, "CreateSlot"))" />
    </div>
    <div class="col-lg-8">
        <h3>新規予約枠の作成</h3>
        <form method="post">
            <div class="form-group">
                <label>開始時刻</label>
                <input class="form-control" type="time" asp-for="StartTime" />
            </div>
            <div class="form-group">
                <label>予約枠の長さ (分)</label>
                <input class="form-control" type="number" asp-for="DurationMinutes" />
            </div>
            <div class="form-group">
                <label>受入可能件数</label>
                <input class="form-control" type="number" asp-for="CountOfSlot" />
            </div>
            <div class="form-group">
                <button class="btn btn-primary mr-2">登録</button>
                <a class="btn btn-link" asp-page="CreateMultipleSlots" asp-route-year="@selectedDate.Year" asp-route-month="@selectedDate.Month" asp-route-day="@selectedDate.Day">予約枠を一括作成</a>
            </div>
        </form>
    </div>
</div>


