@page
@model IndexModel
@{
    ViewData["Title"] = "予約管理";
    var selectedDate = Model.SelectedDate;
    var slots = Model.Appointments!.AllSlots;
}

<h1>予約管理</h1>

<partial name="_Navigation" model="@(new NavigationViewModel(selectedDate, "Index", new NavigationLink(Url.Page("CreateSlot", new { year = selectedDate.Year, month = selectedDate.Month, day = selectedDate.Day }), "新規予約枠作成", "secondary")))" />
<div class="row">
    <div class="col-lg-4">
        <partial name="_Calendar" model="@(new CalendarViewModel(selectedDate, "Index"))" />
    </div>
    <div class="col-lg-8">
        @if (slots.Any())
        {
            <div class="list-group">
                @foreach (var slot in slots)
                {
                    <a class="list-group-item list-group-item-action" asp-page="SlotDetails" asp-route-year="@selectedDate.Year" asp-route-month="@selectedDate.Month" asp-route-day="@selectedDate.Day" asp-route-id="@slot.Id">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">予約枠 @slot.From.TimeOfDay - @slot.To.TimeOfDay</h5>
                            <small>(@slot.CountOfSlot 人)</small>
                        </div>
                        @if (slot.Appointments.Any())
                        {
                            <p class="mb-0">@slot.Appointments.Count 人の予約があります。</p>
                        }
                        else
                        {
                            <p class="mb-0">予約はありません。</p>
                        }
                    </a>
                }
            </div>
        }
        else
        {
            <p>予約枠がありません。</p>
        }
    </div>
</div>


