@page
@model VaccineAppointment.Web.Pages.Admin.Appointments.SlotDetailsModel
@{
    ViewData["Title"] = "予約管理";
    var selectedDate = Model.SelectedDate;

    var slot = Model.Slot!;
}

<h1>予約管理</h1>

<partial name="_Navigation" model="@(new NavigationViewModel(selectedDate, "Index") { BackPage = "Index", DayNavigationDisabled = true })" />
<div class="row">
    <div class="col-lg-4">
        <partial name="_Calendar" model="@(new CalendarViewModel(selectedDate, "Index"))" />
    </div>
    <div class="col-lg-8">
        <div class="d-flex justify-content-between">
            <h3 class="mb-1">予約枠 @slot.From.TimeOfDay - @slot.To.TimeOfDay</h3>
            <div class="d-flex align-items-center">
                <a class="btn btn-sm btn-outline-secondary @(slot.CanCreateAppointment ? "" : "disabled") mr-2" asp-page="CreateAppointment" asp-route-year="@selectedDate.Year" asp-route-month="@selectedDate.Month" asp-route-day="@selectedDate.Day" asp-route-id="@slot.Id">予約登録</a>
                <a class="btn btn-sm btn-outline-danger @(slot.CanDelete ? "" : "disabled") mr-2" asp-page="DeleteSlot" asp-route-year="@selectedDate.Year" asp-route-month="@selectedDate.Month" asp-route-day="@selectedDate.Day" asp-route-id="@slot.Id">削除</a>
                <a class="btn btn-sm btn-outline-primary @(slot.CanUpdate ? "" : "disabled")" asp-page="EditSlot" asp-route-year="@selectedDate.Year" asp-route-month="@selectedDate.Month" asp-route-day="@selectedDate.Day" asp-route-id="@slot.Id">編集</a>
            </div>
        </div>
        <h5 class="font-weight-bold">詳細</h5>
        <div class="list-group">
            <div class="list-group-item">
                <div class="row">
                    <div class="col-4 text-right"><b>受入可能件数</b></div>
                    <div class="col-8">@slot.CountOfSlot</div>
                </div>
            </div>
            <div class="list-group-item">
                <div class="row">
                    <div class="col-4 text-right"><b>予約数</b></div>
                    <div class="col-8">@slot.Appointments.Count</div>
                </div>
            </div>
            <div class="list-group-item">
                <div class="row">
                    <div class="col-4 text-right"><b>残り受入可能件数</b></div>
                    <div class="col-8">@slot.RemainingSlots</div>
                </div>
            </div>
        </div>

        <h5 class="font-weight-bold">予約状況</h5>
        @if (slot.Appointments.Any())
        {
            <div class="list-group">
                @foreach (var appointment in slot.Appointments)
                {
                    <a class="list-group-item list-group-item-action" asp-page="AppointmentDetails" asp-route-year="@selectedDate.Year" asp-route-month="@selectedDate.Month" asp-route-day="@selectedDate.Day" asp-route-slotId="@slot.Id" asp-route-id="@appointment.Id">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">@appointment.Name</h5>
                        </div>
                        <div class="row">
                            <div class="col-4">メールアドレス</div>
                            <div class="col-8">@appointment.Email</div>
                        </div>
                        <div class="row">
                            <div class="col-4">年齢</div>
                            <div class="col-8">@appointment.Age</div>
                        </div>
                        <div class="row">
                            <div class="col-4">性別</div>
                            <div class="col-8">@appointment.Sex</div>
                        </div>
                    </a>
                }
            </div>
        }
        else
        {
            <p>予約がありません。</p>
        }
    </div>
</div>


