@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    var month = Model.Month;
    var prevMonth = Model.PrevMonth;
    var nextMonth = Model.NextMonth;

    var startDayOfWeek = NodaTime.IsoDayOfWeek.Monday;
    var firstDayOfCalendar = month.OnDayOfMonth(1).DayOfWeek == startDayOfWeek ? month.OnDayOfMonth(1) : month.OnDayOfMonth(1).Previous(startDayOfWeek);
}

<div class="text-center">
    <h1 class="display-4">ようこそ！</h1>
    <p>ワクチン接種の予約を行います。日付を選択してください。</p>
    <div>
        @if (Model.Appointments!.PrevMonthAvailable)
        {
            <a asp-route-year="@prevMonth.Year" asp-route-month="@prevMonth.Month">前の月</a>
        }
        else
        {
            <span>前の月</span>
        }
        @if (Model.Appointments!.NextMonthAvailable)
        {
            <a asp-route-year="@nextMonth.Year" asp-route-month="@nextMonth.Month">次の月</a>
        }
        else
        {
            <span>次の月</span>
        }
        <h1>@month.Year 年 @month.Month 月</h1>
        <partial name="_Calendar" model="@(new CalendarViewModel() { Month = month, LinkPage = "SelectDate" })" />
    </div>
</div>
