@page
@model ThankYouModel
@{
    ViewData["Title"] = "Home page";
    var date = Model.Booking!.Slot!.From;
    var from = Model.Booking!.Slot!.From;
    var to = Model.Booking!.Slot!.To;
    var name = Model.Booking!.Name!;
    var email = Model.Booking!.Email!;
    var sex = Model.Booking!.Sex!;
    var age = Model.Booking!.Age;
}

<div class="text-center">
    <h1 class="display-4">予約しました！</h1>
    <p>以下の内容でワクチン接種の予約を行いました。</p>
    <div>
        <h1>@date.Year 年 @date.Month 月 @date.Day 日</h1>
        <h2>@from.TimeOfDay - @to.TimeOfDay</h2>
        <hr />
        <div class="list-group text-left">
            <div class="list-group-item">
                <div class="col d-md-flex">
                    <div class="col-md-3 font-weight-bold text-md-right">名前</div>
                    <div class="col-md-9">@name aaa</div>
                </div>
            </div>
            <div class="list-group-item">
                <div class="col d-md-flex">
                    <div class="col-md-3 font-weight-bold text-md-right">メールアドレス</div>
                    <div class="col-md-9">@email aa</div>
                </div>
            </div>
            <div class="list-group-item">
                <div class="col d-md-flex">
                    <div class="col-md-3 font-weight-bold text-md-right">性別</div>
                    <div class="col-md-9">@sex aa</div>
                </div>
            </div>
            <div class="list-group-item">
                <div class="col d-md-flex">
                    <div class="col-md-3 font-weight-bold text-md-right">年齢</div>
                    <div class="col-md-9">@age 1</div>
                </div>
            </div>
        </div>
    </div>
</div>
