@page
@model DeleteModel

@{
    ViewData["Title"] = "ユーザー管理";
}

<h1>ユーザー管理</h1>

<hr />
<div class="row">
    <div class="col">
        <form class="mr-2" method="post">
            <div class="d-flex justify-content-between">
                <p>ユーザーを削除します。よろしいですか？</p>
            </div>
            <button class="btn btn-sm btn-outline-danger">OK</button>
        </form>
    </div>
</div>
<hr />

<div class="my-2 row justify-content-between">
    <div class="col-auto">
        <a class="btn btn-outline-secondary" asp-page="./Details" asp-route-id="@Model.UserDetail.Id">戻る</a>
    </div>
    <div class="col-auto">
        <a class="btn btn-outline-danger" asp-page="./Delete" asp-route-id="@Model.UserDetail.Id">削除</a>
        <a class="btn btn-outline-primary" asp-page="./Edit" asp-route-id="@Model.UserDetail.Id">編集</a>
    </div>
</div>

<h5><b>詳細</b></h5>
<div class="list-group">
    <div class="list-group-item">
        <div class="row">
            <div class="col-sm-3"><b>名前</b></div>
            <div class="col-sm-9">@Model.UserDetail.Name</div>
        </div>
    </div>
    <div class="list-group-item">
        <div class="row">
            <div class="col-sm-3"><b>ユーザー名</b></div>
            <div class="col-sm-9">@Model.UserDetail.Username</div>
        </div>
    </div>
    <div class="list-group-item">
        <div class="row">
            <div class="col-sm-3"><b>役割</b></div>
            <div class="col-sm-9">@Model.UserDetail.Role</div>
        </div>
    </div>
</div>
