@page
@model DetailsModel

@{
    ViewData["Title"] = "ユーザー管理";
}

@if (!string.IsNullOrEmpty(Model.ErrorMessage))
{
    <div class="alert alert-danger">
        @Model.ErrorMessage
    </div>
}

<h1>ユーザー管理</h1>

<hr />
<div class="my-2 row justify-content-between">
    <div class="col-auto">
        <a class="btn btn-outline-secondary" asp-page="./Index">戻る</a>
    </div>
    <div class="col-auto">
        <a class="btn btn-outline-danger" asp-page="./Delete" asp-route-id="@Model.UserDetail.Id">削除</a>
        <a class="btn btn-outline-primary" asp-page="./Edit" asp-route-id="@Model.UserDetail.Id">編集</a>
    </div>
</div>

<h5><b>詳細</b></h5>
<div class="list-group">
    <div class="list-group-item">
        <div class="row">
            <div class="col-sm-3"><b>表示名</b></div>
            <div class="col-sm-9">@Model.UserDetail.Name</div>
        </div>
    </div>
    <div class="list-group-item">
        <div class="row">
            <div class="col-sm-3"><b>ユーザー名</b></div>
            <div class="col-sm-9">@Model.UserDetail.Username</div>
        </div>
    </div>
    <div class="list-group-item">
        <div class="row">
            <div class="col-sm-3"><b>役割</b></div>
            <div class="col-sm-9">@Model.UserDetail.Role</div>
        </div>
    </div>
</div>
